@import "public/components/ratchet/sass/variables.scss";
@import "public/components/ratchet/sass/mixins.scss";
@import "public/components/ratchet/sass/normalize.scss";
@import "public/components/ratchet/sass/base.scss";
@import "public/components/ratchet/sass/type.scss";

body {
	margin: 0;
}
.main {
  background: url(../img/endbg.png) center center no-repeat rgb(25,25,32);
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.judge {
	padding-top: 100px;
	padding-bottom: 100px;
	width: 280px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.avatar {
	float: left;
	padding: 0 5px;
}
.avatar img {
	width: 60px;
}
.score {
	color: rgb( 255, 255, 255 );
	font-size: 20px;
	display: table;
	width: 280px;
	margin: 0 auto;
}
.score-item {
	display: table-cell;
	text-align: center;
	width: 70px;
	height: 30px;
}
.score-me {
	display: table-cell;
	text-align: center;
	width: 70px;
	height: 30px;
	font-weight: bold;
	color: red;
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 1px white;
}
.bingo {
	background: url(../img/bingo.png) center center no-repeat;
	background-size: contain;
}
.hide {
	display: none;
}
.mobile {
	width: 70%;
	height: 25px;
	margin: 20px auto;
	left: 0;
	right: 0;
}
#mobile {
	width: 78%;
	height: 100%;
	padding: 0;
	border: 0;
}
#confirm {
	height: 100%;
	float: right;
	color: #fff;
	background-color: #600b0b;
	border: 0;
}