@import "public/components/ratchet/sass/variables.scss";
@import "public/components/ratchet/sass/mixins.scss";
@import "public/components/ratchet/sass/normalize.scss";
@import "public/components/ratchet/sass/base.scss";
@import "public/components/ratchet/sass/type.scss";

@mixin square($size) {
    width: $size;
    height: $size;
}

@mixin center-block() {
    margin-left: auto;
    margin-right: auto;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

.content {
    // background: url(../img/bg.png) left top no-repeat;
    // background-size: 100% auto;
    background-color: transparent;
}

.bg-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#show {
    padding-top: 60px;
    overflow: hidden;
    z-index: 1010;

    @media (min-width: 360px) {
        padding-top: 100px;
    }

    .timer {
        $timer-width: 99px;
        $timer-height: 66px;
        @include size($timer-width, $timer-height);
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -$timer_width/2;
        background: url(../img/timer_bg.png) center center no-repeat;
        background-size: contain;
        z-index: 1020;

        .timer-inner {
            position: absolute;
            bottom: 13px;
            width: 100%;
            text-align: center;
        }

        .timer-tip {
            position: absolute;
            bottom: 7px;
            width: 100%;
            height: 20px;
        }

        &.wait .timer-tip {
            background: url(../img/timer-tip-wait.png) center bottom no-repeat;
            background-size: 80%;
        }

        &.wait-magician .timer-tip {
            background: url(../img/timer-tip-wait-magician.png) center bottom no-repeat;
            background-size: 80%;
        }
            
        &.playing .timer-tip {
            background: url(../img/timer-tip-score.png) center bottom no-repeat;
            background-size: 80%;
        }

        &.score .timer-tip {
            background-size: 80%;
        }

        &.final .timer-tip {
            background: url(../img/timer-tip-final.png) center bottom no-repeat;
            background-size: 80%;
        }
    }

    .magician {
        $width: 180px;
        @include square($width);
        @include center-block();
        position: relative;
        margin-bottom: 30px;
        border-radius: 50%;

        
        .accuracy-wording {
            position: absolute;
            left: 0px;
            margin-left: -30px;
            width: 20px;
            font-size: 18px;
            @include transform(rotateY(30deg) perspective(400px));
            color: #d48b2e;
        }

        .accuracy-percent {
            position: absolute;
            right: 0px;
            margin-right: -20px;
            width: 20px;
            font-size: 18px;
            @include transform(rotateY(-30deg) perspective(400px));
            color: #d48b2e;
        }

        .progress-bar {
            z-index: 2000;
            position: absolute;
            overflow: hidden;
            border-radius: 50%;
            @include square(100%);
            @include linear-gradient(#333, #AAA);
            -webkit-transform: translateZ(0);
            -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

            .frontend {
                z-index: 2001;
                @include box-shadow(-8px 0px 35px #d50000);
                // @include linear-gradient(#FF1818, #0f0404);
                background: url(../img/ball.png) center bottom no-repeat;
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                height: 30%;
            }
        }

        .mood {
            z-index: 2010;
            $mood-width: 280px;
            width: $mood-width;
            height: 200px;
            position: absolute;
            background: url(../img/mood.png) center top no-repeat;
            top: 7px;
            left: 50%;
            margin-left: -$mood-width/2 - 3px;
            background-size: 280px; 

            $head-width: ($mood-width + 30px)/2;
            .magician-avatar {
                z-index: 2011;
                position: absolute;
                display: block;
                border-radius: 50%;
                @include square($head-width);
                margin-left: -($head-width - 5px)/2;
                left: 140px;
                top: 7px;
            }

            .name-wrapper {
                z-index: 2012;
                position: absolute;
                background: url(../img/magician-name-bg.png) center center no-repeat;
                width: 100%;
                height: 90px;
                bottom: 0px;
                background-size: 100%;

                .magician-name {
                    text-align: center;
                    color: #701d1d;
                    font-size: 16px;
                    @include transform(skew(-20deg) rotate(-17deg));
                    line-height: 90px;
                }
            }
        }
    }

    $scores: ace three five seven nine jack king;
    @mixin card($width) {
        $card-width: $width;
        border-radius: 5px;
        box-sizing: border-box;
        width: $width;
        height: $width * 1.42;

        @each $score in $scores {
            &.#{$score} {
                background: url(../img/#{$score}.png) center center no-repeat;
                background-size: 100%;
            }
        }

        &.close {
            background: url(../img/mask.png) center center no-repeat;
            background-size: 100% 100%;
        }

        &.highlighted {
            -webkit-filter: brightness(1.1);
            box-shadow: 0px 0px 20px rgba(103, 175, 255, 0.75);
        }

        &.selected .state {
            background: url(../img/card-selected.png) center center no-repeat;
            background-size: 45px 35px;
            margin-top: 15px;
            @include size(54px, 42px);
            @include center-block();
        }
    }

    .cards-wrapper {
        background: #18191a;
        padding: 20px 0px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
        margin-bottom: 20px;

        .tip {
            color: #fff;
            font-size: 12px;
            margin: 5px 0px;
            text-align: center;
        }

        .cards {
            $cards-width: 280px;
            width: $cards-width;
            @include center-block();
            position: relative;

            .card {
                $card-gutter: 10px;
                $card-width: $cards-width/4 - $card-gutter;
                float: left;
                -webkit-filter: brightness(.5);
                margin: 0px $card-gutter/2;

                @include card($card-width);
                
                &.ace, &.three, &.five {
                    margin-bottom: 10px;
                }

                &.ace {
                    margin-left: $cards-width / 8 + $card-gutter/2;
                }
            }
        }
    }

    .judge-list {
        $judge-width: 100px;
        width: $judge-width * 3;
        @include center-block();
        padding-bottom: 20px;
        overflow: hidden;

        .judge {
            float: left;
            $gutter: 20px;
            box-sizing: border-box;
            width: $judge-width;
            padding: 0px $gutter/2;

            $avatar-width: ($judge-width - $gutter);
            $card-width: $avatar-width;

            &.judge-1 .avatar {
                background: url(../img/judge_1.png) center center no-repeat;
                background-size: contain;
            }

            &.judge-2 .avatar {
                background: url(../img/judge_2.png) center center no-repeat;
                background-size: contain;
            }

            &.judge-3 .avatar {
                background: url(../img/judge_3.png) center center no-repeat;
                background-size: contain;
            }

            .avatar {
                width: $avatar-width;
                height: $avatar-width;
                border-radius: 50%;
                @include center-block();
                margin-bottom: 15px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .card {
                margin: 0 auto;
                float: none;
                position: relative;
                @include card($card-width);
                
                &.bingo .state {
                    background: url(../img/card-bingo.png) center center no-repeat;
                    background-size: 45px 23px;
                    top: 30%;
                    left: 50%;
                    margin-left: -22.5px;
                    position: absolute;
                    @include size(45px, 23px);
                }
            }
        }
    }
}