@import "public/components/ratchet/sass/variables.scss";
@import "public/components/ratchet/sass/mixins.scss";
@import "public/components/ratchet/sass/normalize.scss";
@import "public/components/ratchet/sass/base.scss";
@import "public/components/ratchet/sass/type.scss";

body {
	margin: 0;
}
.main {
	background: url(../img/background.png) top center no-repeat rgb(25,25,32);
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;

	.top {
		position: relative;
		top: 0;
		width: 100%;
	}
}

.content {
	position: relative;
	background: url(../img/center.png) no-repeat;
	background-size: 100% 100%;
}
.timer {
	text-align: center;
    color: #ccc;
}
.timer.backgroundclip:not(.android) {
	background:url("img/40.jpg") no-repeat left top;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-size: cover;
}
.info {
	padding-top: 10px;
	font-size: 14px;
}
.time {
	font-size: 30px;
}
.rules span {
	display: block;
}
.rules {
	line-height: 1.3em;
	color: rgb( 255, 255, 255 );
	text-align: left;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
.rule_header {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
}
.rule {
	font-size: 12px;
}
.bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}
@media (max-height: 480px) {
	.bottom {
		width: 80%;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.rules {
		line-height: 1em;
	}
}
// @font-face {
//     font-family: FZZongYi-M05S;
//     src: url('FZZongYi.ttf')  format('truetype');
// }